* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 1rem/1.5 'Roboto', sans-serif, Helvetica;
  min-height: 100vh;
  background-color: #fff;
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: .75em;
}

span {
  font-size: 2em;
  color: var(--color-primary);
}

span:hover {
  cursor: pointer;
}

button {
  color: #FFF;
  display: block;
  width: 90%;
  padding: .75em;
  margin: 15px auto;
  background-color: var(--color-primary);
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  transition: background-color .25s ease-out;
}

button:hover {
    background-color:var(--color-secondary);
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

/* VARIABLES */
:root {
  --color-primary: #7479BD;
  --color-secondary: #4D4D71;
}

/*Container Rules*/
.grid {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  grid-template-rows: 70px 80px;
  grid-auto-columns: ;
  /* grid-auto-rows: 400px; */
  /* grid-gap: 10px; */
  grid-template-areas:
    "head head head"
    "sidebar search search"
    "sidebar traffic traffic"
    "sidebar daily-traffic daily-traffic"
    "sidebar mobile-users mobile-users"
    "sidebar social-stats social-stats"
    "sidebar new-members new-members"
    "sidebar recent-activity recent-activity"
    "sidebar message message"
    "sidebar settings settings";
  }
  /* Set only the top row to 100px */


  /*
    Declare 3 flexible column tracks
     - The first track should take up two fractions of the available space
     - The second and third tracks should take up one fraction of the space
  */


  /* Apply a 10px gutter between rows and columns */


  /*
    Place items on the grid using their grid area names
      - Use the image 'grid-template-areas.png' as a reference
  */

.tab {
  display: none;
}

.bell {
  position: relative;
  cursor: pointer;
}

.active-alert {
  position: absolute;
  bottom: 12px;
  left: 22px;
  color: #81C98F;
}

.arrow {
  position: fixed;
  left: -4px;
  top: 50%;
  background-color: var(--color-primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-primary);
  height: 90px;
  padding: 0 1em;
  width: 90%;
  margin: 1em auto;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alert h3 {
  font-weight: 400;
  font-size: .9em;
  text-align: center;
  color: #fff;
  margin: 0;
}

.alert h2 {
  color: #fff;
  font-size: 1.75em;
}

.close-alert {
  position: relative;
  bottom: 28px;
  left: 8px;
}

.close-alert:hover {
  cursor: pointer;
}

.grid-item {
  position: relative;
  right:40px;
  -webkit-transition: right .5s;
}

.open {
  -webkit-transition: right .5s;
  right: 0px;
}

.sidebar {
  position: relative;
  right: 80px;
  /* bottom: 80px; */
  -webkit-transition: right .5s;
}

.close {
  -webkit-transition: right .5s;
  right: 0px;
}

.head {
  grid-area: head;
}

.sidebar {
  grid-area: sidebar;
}

.search {
  grid-area: search;
}

.traffic {
  grid-area: traffic;
}

.daily-traffic {
  grid-area: daily-traffic;
}

.mobile-users {
  grid-area: mobile-users;
}

.social-stats {
  grid-area: social-stats;
}

.new-members {
  grid-area: new-members;
}

.recent-activity {
  grid-area: recent-activity
}

.message {
  grid-area: message;
}

.settings {
  grid-area: settings;
}

/*Page Styles*/

.section-title {
  font-size: 1em;
  font-weight: 400;
  color: #4f4e4e;
  padding-top: 1em;
  padding-left: 20px;
  margin: 0 auto;
  text-align: center;
}

.traffic .section-title {
  padding-top: 0;
}

.grid > * {
  /* color: #fff; */
  /* padding: 1em; */
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 300;
  background-color: var(--color-primary);
}

.profile > * {
  margin: 0 6px;
  font-weight: 300;
}

.logo {
  padding-left: 1em;
  font-weight: 100;
  font-size: 1.5em;
}

.logo:hover {
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
}

.member-pic,
.profile-image {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline;
}

.profile-image {
  width: 50px;
  height: 50px;
  border: none;
  /* margin-top: 2px; */
  margin-left: 1em;
  cursor: pointer;
}

.profile-img-container {
  /* padding-left: ; */
  border-left: 1px solid var(--color-secondary);
}

.userName {
  display: none;
}

.sidebar {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-icon {
  margin: 1.5em 0;
  opacity: .5;
}
.sidebar-icon:hover {
  cursor: pointer;
  opacity: 10;
  transition: all .5s;
}

/* .sidebar-icon {
  border-left: 3px solid #81C98F;
} */

.active {
  border-right: 4px solid #81C98F;
  border-radius: 5px;
  padding-left: 2em;
  height: 50px;
  position: absolute;
  right: 4.8em;
  top: .75em;
}

.active-icon {
  opacity: 10;
}

.search {
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f9f9f9; */
  /* padding-right: 80px; */
  /* border-bottom: solid 1px #f4f2f2; */
}

/* .message button {
  margin-bottom: 4em;
} */

textarea,
select,
input {
  border: 1px solid #b2b2b2;
  width: 90%;
  padding: 5px;
  margin: 15px auto;
  height: 40px;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  font-weight: 300;
  background: #f9f9f9;
  transition: background-color .25s ease-out;
  color: #cecece;
}

#search {
  background-image: url(../icons/search-interface-symbol.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 97% 53%;
}

textarea {
  margin-top: 1em;
  margin-bottom: 2em;
  height: 100px;
  resize: none;
}

input.checkbox {
  width: 20px;
  display: inline-block;
  margin: 0;
  margin-right: 6em;
}

label {
  font-size: 1em;
  padding-right: 20px;
  padding-left: 20px;
  color: #7c7c7c;
  font-weight: 300;
  display: inline-block;
  position
}

.settings-options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

::-webkit-input-placeholder {
  text-align: left;
  font-weight: lighter;
  color: #bfbdbd;
  font-size: 1em;
  padding-left: 1em;
  padding-top: 4px;
}


.daily-traffic,
.mobile-users {
  border: 1px solid #d6d6d6;
}

.mobile-users {
  border-top: none;
}

.daily-traffic-container {
  margin: auto;
  height: 210px;
  padding: 1em;
}
.traffic-chart {
  margin: auto;
  border: 1px solid #d6d6d6;
  border-bottom: none;
  padding-top: 1em;
}

.traffic-container,
.mobile-container {
  display: block;
  margin: auto;
  height: 182px;
  width: 95%;
  padding: 1em;
}

/* .social-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} */

.social-stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.social-icon {
  height: 60px;
  width: 60px; */
  border-radius: 50%;
  background-color: #7377bf;
  padding: 16px;
  margin-right: 1em;
}

.social-div {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  color: var(--color-secondary);
  padding: 1em 1em;
  border: solid 1px #f4f2f2;
  margin: 1em auto;
}

.social-div h3 {
  color: var(--color-primary);
}

.social-div h1,
.social-div h3 {
  margin: auto;
  text-align: center;
}

.social-div h1 {
  font-weight: 300;
  color: #3f3f3f;
}


.new-members {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  text-align: center;
  /* justify-content: space-between; */
}

.member {
  background-color: #f9f9f9;
  border: solid 1px #f4f2f2;
}

.member ul,
.member p {
  margin: 0;
  font-size: .8em;
}

.recent-activity {
  padding-top: 1em;
}

.settings-buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.settings-buttons button {
  /* margin: 0 1em; */
  width: 47%;
  margin: 0;
}

button.cancel {
  background-color: #b2b2b2;
  border: 1px solid #b2b2b2;
}

button.cancel:hover {
  background-color:#939393;
  border: 1px solid #939393;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

.member ul,
.member p {
  font-size: 1em;
}

.settings-options:last-of-type {
  margin-bottom: 2em;
}


/* Media Queries */

@media screen and (min-width: 720px) {
  .grid {
    grid-template-areas:
      "head head head"
      "sidebar search search"
      "sidebar traffic traffic"
      "sidebar daily-traffic mobile-users"
      "sidebar social-stats social-stats"
      "sidebar new-members recent-activity"
      "sidebar message settings";

    grid-template-rows: 80px 80px;
  }

  .grid-item {
    -webkit-transition: right .5s;
    right: 0px;
  }

  .userName {
    display: block;
  }

  .alert {
    height: 60px;
    padding: 1.5em;
  }

  .close-alert {
    position: static;
  }

  .arrow {
    display: none;
  }

  .sidebar {
    top: 0px;
  }

  .search {
    background-color: #f9f9f9;
    padding-right: 80px;
    border-bottom: solid 1px #f4f2f2;
  }

  #search {
    background: #fff;
    width: 40%;
    margin-right: 0;
    padding-right: 0;
  }

  div.search.grid-item {
    padding-right: 4%;
  }

.section-title {
  text-align: left;
}

  .traffic-chart {

  }

  .daily-traffic-container {
    height: 320px;
    padding: 2em;
    border:none;
  }

  .traffic-chart {
    border:none;
  }

  .daily-traffic {
    border-left: none;
  }
  .mobile-container {
    border-right: none;
  }
  .traffic-container,
  .mobile-container {
    height: 290px;
    padding: 2em;
  }

  .tab {
    display: block;
    position: absolute;
    background-color: #fff;
    font-weight: 400;
    font-size: 1em;
    color: #4f4e4e;
    border-right: solid 1px #f4f2f2;
    height: 80px;
    top: -90px;
    padding-top: 30px;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }

  .search {
    justify-content: flex-end;
  }

  .social-stats-container {
    flex-direction: row;
  }

  .mobile-users {
    border-left: none;
    border-right: none;
    border-top: 1px solid #d6d6d6;
  }
  .member {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1em 0 1em 1em;
    text-align: left;
  }

  .date {
    margin: 0;
    margin-left: auto;
    padding-right: .5em;
  }

  .member ul,
  .member p {
    font-size: .8em;
  }
}



@media screen and (min-width: 950px) {
    .social-icon {
      height: 100px;
      width: 100px;
      padding: 30px;
  }
  .social-div {
    padding: 1em 2em;
  }
  .alert {
    height: 50px;
    padding: 1em;
  }

  .member {
    padding: 1em 2% 1em 4%;
  }
}

@media screen and (min-width: 1070px) {
  .member ul,
  .member p {
    font-size: .9em;
  }
}
